* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: purple;
}

.color{
  color: white;
}

.flex{
  display: flex;
}

.title{
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container{
  background-color: white;
}

.first-col, .second-col{
  flex-direction: column;
}
