* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: purple;
}

.color{
  color: white;
}

label{
  color: purple;
  padding-bottom: 10px;
}

.flex{
  display: flex;
}

.title{
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container{
  background-color: white;
  width: 70%;
  border-radius: 10px;
  margin: 0 auto;
}

.form{
  padding: 20px;
  justify-content: space-around;
}

.first-col, .second-col, .third-col{
  flex-direction: column;
}

input, select{
  border: 1px solid purple;
  border-radius: 5px;
}

input{
  padding: 5px 0;
}
